# Data Processing
pymongo==4.6.1
pandas==2.1.4
numpy==1.26.4

# Data Download
sodapy==2.2.0
requests==2.31.0
tqdm==4.66.1

# Visualization
matplotlib==3.10.7
seaborn==0.13.2
plotly==6.5.0
contextily==1.7.0

# Statistical Analysis & Time Series
statsmodels==0.14.5
scipy==1.15.3

# Jupyter Notebook
jupyter==1.1.1
ipykernel==7.1.0